<div class="todo-list">
  <button mat-fab class="add-task-button" (click)="addTask()">
    <mat-icon>add</mat-icon>
  </button>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="completed">
      <th mat-header-cell *matHeaderCellDef style="width: 10%;"> Completed </th>
      <td mat-cell *matCellDef="let task" style="width: 10%;">
        <mat-checkbox class="mat-checkbox" [(ngModel)]="task.completed" (change)="onToggleCompleted()"></mat-checkbox>
      </td>
    </ng-container>

    <!-- Task Column with Mat Input -->
    <ng-container matColumnDef="task">
      <th mat-header-cell *matHeaderCellDef> Task </th>
      <td mat-cell *matCellDef="let task; let i = index">
        <mat-form-field class="custom-input">
          <input matInput [(ngModel)]="task.description" (keydown)="onKeydown($event)" (focus)="currentFocusedIndex = i" (blur)="currentFocusedIndex = -1" [ngClass]="{'strike-through': task.completed}" (input)="onDescriptionChange()" />
        </mat-form-field>
      </td>
    </ng-container>

    <!-- Delete Column -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef class="delete-column-header"> Delete </th>
      <td mat-cell *matCellDef="let task; let i = index" class="delete-column-cell">
        <button mat-icon-button  [ngClass]="{'hidden': currentFocusedIndex === i && currentFocusedIndex !== -1}" (click)="deleteTask(task)" class="delete-button">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <thead>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    </thead>
    <tbody>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </tbody>
  </table>
</div>
