<div class="container">
  <mat-button-toggle-group value="monthly" (change)="onToggleButtonGroup($event)" class="button-group">
    <mat-button-toggle value="monthly">
      <span class="goal-type">Monthly Goals</span>
      <span class="separator">|</span>
      <span class="goal-date">{{month}}</span>
    </mat-button-toggle>
    <mat-button-toggle value="weekly">
      <span class="goal-type">Weekly Goals</span>
      <span class="separator">|</span>
      <span class="goal-date">{{week}}</span>
    </mat-button-toggle>
  </mat-button-toggle-group>
  <div class="child-container">
    <h1>I am ready to</h1>
    <h1>reach my</h1>
    <h1>goals and</h1>
    <h1>dreams</h1>
  </div>

  <div class="goals-list">
    <button mat-fab class="add-goal-button" (click)="addGoal()">
      <mat-icon>add</mat-icon>
    </button>
    <table mat-table [dataSource]="dataSource" cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListDisabled]="dragDisabled" class="mat-elevation-z8">
      <!-- Drag Handle Column -->
      <ng-container matColumnDef="dragHandle">
        <th mat-header-cell *matHeaderCellDef style="width: 40px;"></th>
        <td (mousedown)="dragDisabled = false;" mat-cell *matCellDef="let goal; let i = index" class="dragCursor" style="width: 40px;">
          <span cdkDragHandle class="drag-icon">☰</span> <!-- Only this span will be the drag handle -->
        </td>
      </ng-container>

      <!-- Index Column -->
      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef style="width: 6%;"> Nr. </th>
        <td mat-cell *matCellDef="let goal; let i = index" class="index" style="width: 6%;">
          #{{i + 1}} <!-- Display the row number starting from 1 -->
        </td>
      </ng-container>

      <!-- Checkbox Column -->
      <ng-container matColumnDef="completed">
        <th mat-header-cell *matHeaderCellDef style="width: 10%;"> Completed </th>
        <td mat-cell *matCellDef="let goal" style="width: 10%;">
          <mat-checkbox class="mat-checkbox" [(ngModel)]="goal.completed" (change)="onToggleCompleted()"></mat-checkbox>
        </td>
      </ng-container>

      <!-- Goal Column with Mat Input -->
      <ng-container matColumnDef="goal">
        <th mat-header-cell *matHeaderCellDef> Goal </th>
        <td mat-cell *matCellDef="let goal; let i = index">
          <mat-form-field class="custom-input" appearance="fill">
            <input matInput [(ngModel)]="goal.description" (focus)="currentFocusedIndex = i" (blur)="currentFocusedIndex = -1" (keydown)="onKeydown($event)" (input)="onDescriptionChange()" />
          </mat-form-field>
        </td>
      </ng-container>

      <!-- Delete Column -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef class="delete-column-header"> Delete </th>
        <td mat-cell *matCellDef="let goal; let i = index" class="delete-column-cell">
          <button mat-icon-button [ngClass]="{'hidden': currentFocusedIndex === i && currentFocusedIndex !== -1}" (click)="deleteGoal(goal)" class="delete-button">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns" cdkDragLockAxis="y"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" cdkDrag [cdkDragData]="row" class="draggable-row" style="background: unset; background-color: #f3dde1"></tr>
    </table>
  </div>
</div>
