/*h1 {
  font-family: "Ruge Boogie", cursive;
  font-weight: 400;
  font-style: normal;
}*/

h1 {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  opacity: 0.8;
}


body {
  margin: 0; /* Remove default margin */
  height: 70vh;
  display: flex; /* Flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  background-color: #ff77b5; /* Light pink background */
  font-family: 'Arial', sans-serif; /* Font family */
}

.button-group {
    align-self: center;
}

.container {
  min-height: 100vh;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}


.child-container {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 0;
  color: rgba(255, 105, 180, 0.1);
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
}


  .child-container h1 {
    font-size: 6rem;
    line-height: 7rem;
    color: #ff69b4;
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
  }

.goals-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  padding: 2% 7% 6% 7%;
  height: auto;
}


.mat-checkbox {
  transform: scale(1.8);
  margin-left: 20px;
}

table {
  background-color: #f3dde1;
  z-index: 1;
}

.index {
    font-size: 1.5rem;
    font-weight: bolder;
}

.add-goal-button {
  position: fixed;
  bottom: 20px;
  right: 40px;
  background-color: #ff5dd6;
  color: white;
}

  .add-goal-button:hover {
    background-color: #fe45cf;
  }

.delete-column-header {
  text-align: right;
}

.delete-column-cell {
  text-align: right;
}

.delete-button {
  margin-right: 6px;
}

.custom-input {
  width: 100%;
  background-color: transparent;
  font-size: 28px;
}
