html, body {
  min-height: 100vh;
  height: auto;
  margin: 0;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: linear-gradient(to bottom right, #ffffff, #ffc3db); /* Pink to white gradient */
  background-attachment: fixed;
}

.disable-selection {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.mat-mdc-tab-body-wrapper {
  flex-grow: 1;
}
