.dialog-content {
  padding: 30px 30px 20px;
  .form-field {
    width: 100%;
  }
  .error {
    color: red;
  }
}

.add-task-bg {
  background-color: #ffb4d3;
}

.edit-task-bg {
  background-color: #ffe3b9;
}
