<div class="color-picker"></div>
<div class="dialog-content"
     [ngClass]="data.uuid ? 'edit-task-bg' : 'add-task-bg'">
  <h5 mat-dialog-title *ngIf="!data.uuid">➕ Add Task</h5>
  <h5 mat-dialog-title *ngIf="data.uuid">✏️ Edit Task</h5>
  <div [formGroup]="appointmentForm">
    <div mat-dialog-content>
      <mat-form-field class="form-field">
        <mat-label>Title</mat-label>
        <input formControlName="title" matInput />
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Start Time</mat-label>
        <input matInput formControlName="startTime" type="time" />
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>End Time</mat-label>
        <input matInput formControlName="endTime" type="time" />
      </mat-form-field>
      <div *ngIf="appointmentForm.errors && appointmentForm.errors['timeRangeInvalid']"
           class="error">
        End time must be after start time.
      </div>
    </div>
    <div mat-dialog-actions style="display: flex; justify-content: space-between;">
      <form [formGroup]="appointmentForm" style="display: inline-flex; margin-right: auto;">
        <mat-checkbox style="margin-right: 10px"
                      class="mat-checkbox"
                      formControlName="completed">
        </mat-checkbox>
      </form>
      <div id="color-circle" [style.background-color]="color" (click)="onColorClick()"></div>
      <button (click)="onDeleteClick()"
              *ngIf="data.uuid"
              mat-stroked-button>
        Delete
      </button>
      <button style="margin-left: 10px"
              mat-stroked-button
              (click)="onNoClick()">
        Cancel
      </button>
      <button type="submit" mat-flat-button (click)="onSaveClick()" style="margin-left: 10px">
        <span *ngIf="data.uuid">Save Task</span>
        <span *ngIf="!data.uuid">Create Task</span>
      </button>
    </div>
  </div>
</div>
