.dialog-content {
  padding: 30px 30px 25px;
  .form-field {
    width: 100%;
  }
  .error {
    color: red;
  }
}

.add-task-bg {
  background-color: #ffb4d3;
}

.edit-task-bg {
  background-color: #ffe3b9;
}

.mat-checkbox {
  transform: scale(1.8);
}
